<div class="nested-fields">
  <%= f.text_field :name %>
  <%= link_to_remove_association "remove task", f %>

  <div class="description">
	  <%= f.fields_for :description do |form| %>
	    <%= form.label "description" %>
	    <%= render "description_fields", f: form %>
	  <% end %>
	  <div class="links">
		<%= link_to_add_association "description", f, :description %>
	  </div>
  </div>
</div>

